<!-- Start Reviews Section -->
<!-- <div class="w-full bg-purple">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 parent-content content-pb">
        <div class="p-4">
            {{review_video}}
            <video width="100%" height="300px" controls>
                <source src="{{url}}" type="video/mp4">
            </video>
            {{/review_video}}
            <div class="vid-btm-sty2">{{review_video_desc}}</div>
        </div>
        <div class="p-4">
            <p class="white-lable-head2">
                {{ review_title }}
            </p>
            <p class="white242">{{ review_sub_title }}</p>
            <div class="title">{{ review_desc }}</div>
        </div>
    </div>
    {{ review_title }}
    {{reviews}}
    {{type}}
    <div class="whtfloatsec">
        <p>Video-creation engages a child’s
            intelligence in multiple ways. And helps learning academic concepts in a much
            more immersive and holistic way.</p>
        <p>Siddhartha</p>
        <p>Chief Education Officer, DPS Nashik</p>
        <div> <span class="material-symbols-outlined rounded-full p-0 border-slate-300 border-solid   border-2">
                chevron_right
            </span></div>

    </div>
    {{/reviews}}
</div> -->
<!-- End Reviews Section -->


<!-- Review Section big -->
<!--Not just for aspiring filmmakers. big -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="w-full mx-auto bg-purple revfor-big">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 parent-content content-pb">
        <div class="p-4">
            {{review_video }}
             <video width="100%" height="300px" controls>
                <source src="{{url}}" type="video/mp4">
            </video>
            {{/review_video}}
            <div class="vid-btm-flmkr">{{review_video_desc}}</div>
        </div>
        <div class="p-4">
            <p class="white-lable-head2">
                {{ review_title }}
            </p>
            <p class="white242">{{ review_sub_title }}</p>
            <div class="filmaker_description">{{ review_desc }}</div>
        </div>
    </div>
    
        
    <div class="whtfloatsec">
        <div class="reviews-slider slider">
            {{reviews}}
                {{if description != ''}}
                    <div>
                        <p>{{description}}</p>
                        <p>{{name}}</p>
                        <p>{{position}}</p>
                        <div class="forar"> <span
                            class="material-symbols-outlined rounded-full p-0 border-slate-300 border-solid   border-2">
                            chevron_right
                        </span></div>
                    </div>
                {{/if}}
            {{/reviews}}
        </div>
        
        <div class="forqutes"><span class="material-icons">
            format_quote
        </span></div>
    </div>
</div>

<!-- Review Section small -->
<!--Not just for aspiring filmmakers. small -->
<div class="w-full mx-auto bg-purple revfor-small">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 revpad">
        <div class="p-4">
            <p class="white-lable-head2">
                {{ review_title }}
            </p>
            <p class="white242">{{ review_sub_title }}</p>
            <div class="filmaker_description">{{ review_desc }}</div>
        </div>
             <div class="p-4">
            {{review_video }}
             <video width="100%" height="300px" controls>
                <source src="{{url}}" type="video/mp4">
            </video>
            {{/review_video}}
            <div class="vid-btm-flmkr">{{review_video_desc}}</div>
        </div>
    </div>
    <div class="whtfloatsec-s ">
        <p>Video-creation engages a child’s
            intelligence in multiple ways. And helps learning academic concepts in a much
            more immersive and holistic way.</p>
        <p>Siddhartha</p>
        <p>Chief Education Officer, DPS Nashik</p>
        <div class="forar"> <span
                class="material-symbols-outlined rounded-full p-0 border-slate-300 border-solid   border-2">
                chevron_right
            </span></div>
        <div class="forqutes"><span class="material-icons">
                format_quote
            </span></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.reviews-slider').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2500,
            arrows: false,
            //prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa-solid fa-solid fa-circle-chevron-left"></i></button>',
            //nextArrow: '<button class="slide-arrow next-arrow"><i class="fa-solid fa-circle-chevron-right"></i></button>',
            dots: false,
            //dotsClass: 'slick-dots',
            pauseOnHover: false,
            responsive: [{
                breakpoint: 785,
                settings: {
                    slidesToShow: 1

                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 1
                }
            }]
        });
    });
</script>


