<!--stats/ promo-section  small-->
<div class="mx-auto promo-section">
    <div class="promo-child">
        {{services}}
        {{if service_icon != ''}}
        <div>
            <div>
                {{service_icon}}
                <img class="promo-icons" src="{{url}}" alt="">
                {{/service_icon}}
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">{{no_count}}+</p>
                <p class="pr-txt">{{serve_title}}</p>
            </div>
        </div>
        {{/if}}
        {{/services}}
    </div>
    <div class="div-lkflt">
        <!-- <span>Get a <span> Free Guide</span> on 10 easy ways to make your school Video savvy</span> -->
        <span>{{side_desc}}</span>
        <button>Get it Now</button>
    </div>

</div>
<!-- stats stats/ promo-section 
 big -->
<div class="btml-float relative">
    <div class="btml-float-containt">
        {{services}}
        {{if service_icon != ''}}
        <div class="promo-small-child">
            <div>
                {{service_icon}}
                <img class="promo-icons-sm" src="{{url}}" alt="">
                {{/service_icon}}
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">{{no_count}}+</p>
                <p class="pr-txt-sm">{{serve_title}}</p>
            </div>
        </div>
        {{ /if}}
        {{/services}}
    </div>

    <div class="div-lkflt-sm">
        <span>{{side_desc}}</span>
        <button onclick="showPopup()">Get it Now</button>
        
        </div>
        
        </div>
        <div id="popup" style="display:none;">
            <span onclick="hidePopup()" class="pop-up-close-btn">&#10005;</span>
            <div class="pop-up-content-form" id="FormDiv" style="display: block;">
                <p class="my-heads get-head-title text-center">Where should we email your free guide?</p>
                <div class="get-it-form">
                    {{ form:create in="ebook_form" id="test"}}
                    <div id="success" style="display:none;"><p>Thanks...</p></div>
                    <div id="failed" style="color:red;"></div>
                    {{ if success }}
                        <div id="success222"><p>Thanks...</p></div>
                    {{ /if }}
                    
                    {{ fields }}
                    <div class="form-field">
                        <div class="form-row">
                            <label for="fullName">{{ display }}</label>
                            {{ field }}
                        </div>
                        <p class="text-red-600" id="{{handle}}">{{ error }}</p>
                        {{ if error }}
                            <p class="text-red-600" id="{{handle}}">{{ error }}</p>
                        {{ /if }}
                    </div>
                    {{ /fields }}
                    
                    <div class="form-row2">
                        <input type="text" class="hidden " name="{{ honeypot ?? 'honeypot' }}">
                        <button type="submit" class="submit-button">Submit</button>
                    </div>
                    {{ /form:create }}
                </div>
            </div>
            <div id="SuccessDiv" style="display: none;">
                <p>Helloo</p>
            </div>
            <img class="floating-mail-icon1" src="/assets/maillogo.png" alt="">
            <img class="floating-mail-icon2" src="/assets/maillogo.png" alt="">
        </div>
<script>
    
    var popup = document.getElementById("popup");
    var cont_popup = document.getElementById("cont-popup");
    function hidePopup() {
        popup.style.display = "none";
    }
    function showPopup() {
        popup.style.display = "block";
        popup.classList.add("for-get-pop-up")
        popup.style.top = `${document.body.clientHeight} - 400px`
    }
    $("#test").submit(function( event ) {
        event.preventDefault()
        var form_data = $(this).serialize();
        console.log(form_data)
        var fd = new FormData();
        $.ajax({
            url: $("#test").attr('action'),
            type: 'POST',
            data: form_data,
         }).done(function(response) {
            console.log(1)
            console.log(response);
            
            $('#failed').css('display','none');
            $('#FormDiv').css('display','none')
            $('#SuccessDiv').css('display','block')
        }).fail(function(data) {
            
            var errors = [data.responseJSON.errors]
            var str = ""
            
            errors.forEach(function(error){
                console.log(error);
                str += error
            })
            str = str.replace(/\,/g,"<br>")
            $('#failed').html(str);
            $('#FormDiv').css('display','block')
            $('#SuccessDiv').css('display','none')
        });
    });
</script>