<!--stats/ promo-section  small-->
<div class="mx-auto promo-section">
    <div class="promo-child">
        <div>
            <div>
                <img class="promo-icons" src="/assets/Group1172.png" alt="">
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">6000+</p>
                <p class="pr-txt">Registered Students</p>
            </div>
        </div>

        <div>
            <div>
                <img class="promo-icons" src="/assets/Group1174.png" alt="">
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">30+</p>
                <p class="pr-txt">School Partnerships</p>
            </div>
        </div>

        <div>
            <div>
                <img class="promo-icons" src="/assets/Group1224.png" alt="">
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">8+</p>
                <p class="pr-txt">Countries & Growing </p>
            </div>
        </div>
        <div>
            <div>
                <img class="promo-icons" src="/assets/Group1175.png" alt="">
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">13000+</p>
                <p class="pr-txt">Mins. of Immersive Learning </p>
            </div>
        </div>

    </div>
    <div class="div-lkflt">
        <span>Get a <span> Free Guide</span> on 10 easy ways to make your school Video savvy</span>

        <button>Get it Now</button>
    </div>

</div>
<!-- stats stats/ promo-section 
 big -->
<article class="btml-float">
    <div class="btml-float-containt">
        <div class="promo-small-child">
            <div>
                <img class="promo-icons-sm" src="/assets/Group1172.png" alt="">
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">6000+</p>
                <p class="pr-txt-sm">Registered Students</p>
            </div>
        </div>

        <div class="promo-small-child">
            <div>
                <img class="promo-icons-sm" src="/assets/Group1174.png" alt="">
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">30+</p>
                <p class="pr-txt-sm">School Partnerships</p>
            </div>
        </div>

        <div class="promo-small-child">
            <div>
                <img class="promo-icons-sm" src="/assets/Group1224.png" alt="">
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">8+</p>
                <p class="pr-txt-sm">Countries & Growing </p>
            </div>
        </div>
        <div class="promo-small-child">
            <div>
                <img class="promo-icons-sm" src="/assets/Group1175.png" alt="">
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">13000+</p>
                <p class="pr-txt-sm">Mins. of Immersive Learning </p>
            </div>
        </div>

    </div>

    <div class="div-lkflt-sm">
        <span>Get a <span> Free Guide</span> on 10 easy ways to make your school Video savvy</span>

        <button>Get it Now</button>
    </div>
</article>