<!--stats/ promo-section  small-->
<div class="mx-auto promo-section">
    <div class="promo-child">
        {{services}}
        {{if service_icon != ''}}
            <div>
                <div>
                    {{service_icon}}
                    <img class="promo-icons" src="{{url}}" alt="">
                    {{/service_icon}}
                </div>
                <div class="pr-desc-div">
                    <p class="pr-nums">{{no_count}}+</p>
                    <p class="pr-txt">{{serve_title}}</p>
                </div>
            </div>
        {{/if}}
        {{/services}}
    </div>
    <div class="div-lkflt">
        <!-- <span>Get a <span> Free Guide</span> on 10 easy ways to make your school Video savvy</span> -->
        <span>{{side_desc}}</span>
        <button>Get it Now</button>
    </div>

</div>
<!-- stats stats/ promo-section 
 big -->
<article class="btml-float">
    <div class="btml-float-containt">
        {{services}}
        {{if service_icon != ''}}
        <div class="promo-small-child">
            <div>
                {{service_icon}}
                    <img class="promo-icons-sm" src="{{url}}" alt="">
                {{/service_icon}}
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">{{no_count}}+</p>
                <p class="pr-txt-sm">{{serve_title}}</p>
            </div>
        </div>
        {{ /if}}
        {{/services}}
    </div>

    <div class="div-lkflt-sm">
        <span>{{side_desc}}</span>
        <button>Get it Now</button>
    </div>
</article>